AMAZON_URL=https://www.amazon.jobs/en/search?category%5B%5D=Software+Development&sort=recent&country%5B%5D=USA
MICROSOFT_URL=https://apply.careers.microsoft.com/careers?start=0&sort_by=Most+recent&filter_profession=software+engineering
COUNTRY_FILTER=us

MAX_JOBS_PER_SOURCE=60
PLAYWRIGHT_MIN_MEM_MB=450
PLAYWRIGHT_SCHEDULE=night
PLAYWRIGHT_NIGHT_START=00:00
PLAYWRIGHT_NIGHT_END=06:00
PLAYWRIGHT_TIMEZONE=America/New_York
PLAYWRIGHT_NIGHT_RUN_INTERVAL_MINUTES=60
NIGHTLY_PLAYWRIGHT_MAX_POST_AGE_MINUTES=1440
MAX_POST_AGE_MINUTES=180
MAX_DATE_ONLY_AGE_DAYS=1
